# Generated 
app/iqj/linux/flutter/generated_plugin_registrant.cc
app/iqj/linux/flutter/generated_plugin_registrant.h
app/iqj/linux/flutter/generated_plugins.cmake
app/iqj/macos/Flutter/GeneratedPluginRegistrant.swift
app/iqj/windows/flutter/generated_plugin_registrant.cc
app/iqj/windows/flutter/generated_plugin_registrant.h
app/iqj/windows/flutter/generated_plugins.cmake

# Flutter/Dart/Pub related
app/iqj/.dart_tool/

# IntelliJ related
app/iqj/.idea/
app/.idea/
.idea/

# Visual Studio Code related
app/iqj/.vscode/
.vscode/

# Finder file
.DS_Store
app/.DS_Store
app/iqj/.DS_Store